<h1 mat-dialog-title>{{ data.action === 'edit' ? 'Editar Suíno' : 'Adicionar Suíno' }}</h1>
<div class="form-container">
  <form [formGroup]="pigForm" class="form">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Brinco do Animal</mat-label>
        <input matInput formControlName="animalTag">
        <mat-error *ngIf="pigForm.get('animalTag')?.hasError('required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="pigForm.get('animalTag')?.hasError('pattern')">O brinco deve ser um número</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Brinco do Pai</mat-label>
        <input matInput formControlName="fatherTag">
        <mat-error *ngIf="pigForm.get('fatherTag')?.hasError('required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="pigForm.get('fatherTag')?.hasError('pattern')">O brinco deve ser um número</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Brinco da Mãe</mat-label>
        <input matInput formControlName="motherTag">
        <mat-error *ngIf="pigForm.get('motherTag')?.hasError('required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="pigForm.get('motherTag')?.hasError('pattern')">O brinco deve ser um número</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="pigForm.get('birthDate')?.hasError('invalidDate')">Data inválida</mat-error>
        <mat-error *ngIf="pigForm.get('birthDate')?.hasError('invalidMonth')">Mês inválido</mat-error>
        <mat-error *ngIf="pigForm.get('birthDate')?.hasError('invalidDay')">Dia inválido</mat-error>
        <mat-error *ngIf="pigForm.get('birthDate')?.hasError('futureDate')">Data no futuro</mat-error>
        <mat-error *ngIf="pigForm.get('birthDate')?.hasError('required')">Preencha uma data correta</mat-error>
      </mat-form-field>

    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Data de Saída</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="pigForm.get('departureDate')?.hasError('invalidDate')">Data inválida</mat-error>
        <mat-error *ngIf="pigForm.get('departureDate')?.hasError('invalidMonth')">Mês inválido</mat-error>
        <mat-error *ngIf="pigForm.get('departureDate')?.hasError('invalidDay')">Dia inválido</mat-error>
        <mat-error *ngIf="pigForm.get('departureDate')?.hasError('futureDate')">Data no futuro</mat-error>
        <mat-error *ngIf="pigForm.get('departureDate')?.hasError('required')">Preencha uma data correta</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let opcao of statusOptions" [value]="opcao">
            {{ opcao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pigForm.get('status')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let opcao of sexOptions" [value]="opcao">
            {{ opcao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pigForm.get('sex')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-raised-button color="basic" (click)="onCancelClick()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="pigForm.invalid">Salvar</button>
    </div>
  </form>
</div>