<h2>
  Suíno de brinco nº {{ data.pig.animalTag }}
</h2>
<mat-divider></mat-divider>
<div class="details-container">
  <div class="details-item">
    <strong>Brinco do pai:</strong> {{ data.pig.fatherTag }}
  </div>
  <div class="details-item">
    <strong>Brinco da mãe:</strong> {{ data.pig.motherTag }}
  </div>
  <div class="details-item">
    <strong>Data de nascimento: </strong>
    {{ formatDepartureDate(data.pig.birthDate) }}
  </div>
  <div class="details-item">
    <strong>Idade: </strong> {{ data.pig.birthDate | age }}
  </div>
  <div class="details-item">
    <strong>Data de saída: </strong>
    {{ formatDepartureDate(data.pig.departureDate) }}
  </div>
  <div class="details-item">
    <strong>Status: </strong> {{ data.pig.status }}
  </div>
  <div class="details-item">
    <strong>Sexo: </strong> {{ data.pig.sex }}
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>