<mat-toolbar color="primary" *ngIf="showMenu">
  <img src="../../../assets/logo-branco.png" alt="Logo" class="logo">
  <button mat-button [matMenuTriggerFor]="menu">Suinos</button>
  <button mat-button [routerLink]="['/manual']">Manual</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Listagem</button>
    <button mat-menu-item routerLink="/pesos">Controle de peso</button>
    <button mat-menu-item routerLink="/monitoramento">Monitoramento de controle de peso</button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>