.spacer {
    flex: 1 1 auto;
}

.title {
    margin-right: 10px;
}

.logo {
    width: 120px;
    height: 60px;
    margin-right: 10px;
}

.mat-toolbar-row {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
        /* Oculta o logotipo em telas pequenas para economizar espaço */
    }

    .title {
        flex: 1 1 auto;
    }

    .spacer {
        flex: 0 0 auto;
    }

    button.mat-button {
        padding: 0 5px;
        font-size: 12px;
    }
}